<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Video_Store.Properties.Settings.Movie_StoreConnectionString"
            connectionString="Data Source=(LocalDB)\V11.0;AttachDbFilename=&quot;H:\IS2B - Solution Design\Movie_Store.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>